{% extends 'core/base.html' %}
{% load static %}
{% block title %}Suscriptores{% endblock %}
{% block content %}
  <!-- Doctors Section -->
  
  <section id="doctors" class="doctors section">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>Déjanos tu email y te enviaremos noticias acerca de Pronosticador Fútbol Pro</h2> 
    </div><!-- End Section Title -->
    <div class="container">
      <div class="row gy-4">
        <div class="col-md-8">
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary btn-block mt-3" value="Enviar">
            
          </form>
        </div>
      </div>
    </div>
  </section><!-- /Doctors Section -->

{% endblock %}