{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<!-- Content Row -->
<div class="row">
    <div class="col">
        <h1>{{title}}</h1>

        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            
            {% for league in leagues %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <a href="{% url 'next-matchs-list' league.id %}">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">                                
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            {{league.contry}}
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{league}}</div>
                                    </div>
                                    <div class="col-auto">
                                        
                                        {% if league.contry.image %}
                                            <img src="{{league.contry.image.url}}" class="img-fluid" width=25px height=20px alt="">
                                        {% else %}
                                            <i class="fa fa-futbol fa-2x text-gray-300"></i>
                                        {% endif %}

                                            
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            {% endfor %}
                
            
        </div>

        










        <div>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}