{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <!-- Content Row -->
  <h1 class='mb-3 mt-3'>{{title}}</h1>
  <div class="row">
    <div class="col">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                {{ form.leagues }}
              </div>
            </div>
            
            <div class="col-3">
              <div class="form-group">
                {{ form.start_date }}
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                {{ form.end_date }}
              </div>              
            </div>
            <div class="col-8 mb-3">
              <label for="">Selecciona una Estrategia</label>
              {{form.strategies}}
            </div>
            <div class="col-8 mb-3">
              <button type="submit" class="btn btn-primary" id="btn-filtrar">Filtrar</button>
            </div>
          </div>
        </div>
      </form>
      {% if matches %}
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">Pais</th>
              <th scope="col">Liga</th>
              <th scope="col">Jornada</th>
              <th scope="col">Fecha</th>
              <th scope="col">Local</th>
              <th scope="col">Visitante</th>
            </tr>
          </thead> 
          <tbody>
          {% for match in matches %}
            <tr>
              <td><img src="{{match.league.contry.image.url}}" class="img-fluid" width=25px height=20px alt=""> </td>
              <td>{{match.league}}</td>
              <td>{{match.soccer_day}}</td>
              <td>{{match.date}}</td>
              <td><img src="{{match.home_team.image.url}}" class="img-fluid" alt=""> {{match.home_team}}</td>
              <td><img src="{{match.visit_team.image.url}}" class="img-fluid" alt=""> {{match.visit_team}}</td>
              <td>
                
                {% if first_match %}
                  {% if forloop.first %}
                    <a href="{% url 'match-detail' match.id %}" class="btn btn-primary">Pronosticos</a>
                  {% endif %}
                {% else %}
                  <a href="{% url 'match-detail' match.id %}" class="btn btn-primary">Pronosticos</a>
                {% endif %}

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p style="color:red">No se encuentran partidos para las opciones seleccionadas. Prueba de nuevo.</p>
    {% endif %}
    
    </div>
  </div>
  
{% endblock %}