{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{match.home_team}} - {{match.visit_team}}{% endblock %}
{% block content %}

<!-- Content Row -->
<div class="row">
    
    <h1>
        {{title}}
        <img src="{{match.home_team.image.url}}" class="img-fluid" alt="">  {{match.home_team}} - 
        <img src="{{match.visit_team.image.url}}" class="img-fluid" alt="">  {{match.visit_team}}
    </h1>

        <div class='col-12'>
            <p>{{match.league.contry}} - {{match.league}} - {{match.date}}</p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">{{match.home_team}}</th>
                        <th scope="col">Empate</th>
                        <th scope="col">{{match.visit_team}}</th>
                    </tr>
                    </thead> 
                    <tbody>
                        <tr>
                            <td>{{cuota_win_home}}€ ({{prob_win_home}}%)</td>
                            <td>{{cuota_empate}}€ ({{prob_empate}}%)</td>
                            <td>{{cuota_win_visit}}€ ({{prob_win_visit}}%)</td>
                        </tr>
                    
                </tbody>
            </table>
        </div>

        <div class='col-12 mt-3 mb-3'>
            <h5>Calculadora Probabilidad goles 2º Tiempo</h5>
                <div class="row">
                    <div class="col">
                        {{match.home_team}}
                        <input type="number" min=0 class="form-control" aria-label="home_gol_ht" id="home_gol_ht" aria-describedby="basic-addon1">
                    </div>
                    <div class="col">
                        {{match.visit_team}}
                        <input type="number" min=0 class="form-control" aria-label="visit_gol_ht" id="visit_gol_ht" aria-describedby="basic-addon1"> 
                    </div>
                </div>
                <p>* Introduce resultado al descanso y pulsa el botón para ver la probabilidad de goles en el segundo tiempo</p>
                <div class="col text-center mt-4">
                    <button id="btn-prob-gol-2ht" class="btn btn-primary btn-sm btn-block">Calcular probilidad</button>
                    
                </div>
                <div>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">1 gol más</th>
                                <th scope="col">2 goles más</th>
                                <th scope="col">3 goles más</th>
                            </tr>
                            </thead> 
                            <tbody>
                                <tr>
                                    <td id="prob1"></td>
                                    <td id="prob2"></td>
                                    <td id="prob3"></td>
                                </tr>                            
                        </tbody>
                    </table>
                </div>                
            
            <script>
                var btn_prob = document.getElementById('btn-prob-gol-2ht');
                btn_prob.addEventListener('click', function(){
                    var home_gol_ht = document.getElementById('home_gol_ht').value;
                    var visit_gol_ht = document.getElementById('visit_gol_ht').value;
                    
                    if(home_gol_ht != '' && visit_gol_ht != ''){
                        const url = "{% url 'update-live' match.pk %}" + "?home_gol_ht="+home_gol_ht+"&visit_gol_ht="+visit_gol_ht;
                    
                        fetch(url).then(response => response.json().then(function(data){
                            document.getElementById('prob1').textContent = data.cuota_un_gol_mas + '€ ('+data.prob_un_gol_mas + '%)'
                            document.getElementById('prob2').textContent = data.cuota_dos_goles_mas + '€ ('+data.prob_dos_goles_mas + '%)'
                            document.getElementById('prob3').textContent = data.cuota_tres_goles_mas + '€ ('+data.prob_tres_goles_mas + '%)'
                        }))
                    
                    }else{
                        alert('Introduce resultado al descanso')
                    }
                })
            </script>
        </div>
        
        <div class='col-12'>
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mercado</th>
                        <th scope="col">Over</th>
                        <th scope="col">Under</th>
                    </tr>
                    </thead> 
                    <tbody>
                        <tr>
                            <td>0.5 goles ht</td>
                            <td>{{cuota_over_05_ht}}€ ({{prob_over_05_ht}}%)</td>
                            <td>{{cuota_under_05_ht}}€ ({{prob_under_05_ht}}%)</td>
                        </tr>
                        <tr>
                            <td>1.5 goles ht</td>
                            <td>{{cuota_over_15_ht}}€ ({{prob_over_15_ht}}%)</td>
                            <td>{{cuota_under_15_ht}}€ ({{prob_under_15_ht}}%)</td>
                        </tr>
                        <tr>
                            <td>0.5 goles ft</td>
                            <td>{{cuota_over_05_ft}}€ ({{prob_over_05_ft}}%)</td>
                            <td>{{cuota_under_05_ft}}€ ({{prob_under_05_ft}}%)</td>
                        </tr>
                        <tr>
                            <td>1.5 goles ft</td>
                            <td>{{cuota_over_15_ft}}€ ({{prob_over_15_ft}}%)</td>
                            <td>{{cuota_under_15_ft}}€ ({{prob_under_15_ft}}%)</td>
                        </tr>
                        <tr>
                            <td>2.5 goles ft</td>
                            <td>{{cuota_over_25_ft}}€ ({{prob_over_25_ft}}%)</td>
                            <td>{{cuota_under_25_ft}}€ ({{prob_under_25_ft}}%)</td>
                        </tr>
                        <tr>
                            <td>3.5 goles ft</td>
                            <td>{{cuota_over_35_ft}}€ ({{prob_over_35_ft}}%)</td>
                            <td>{{cuota_under_35_ft}}€ ({{prob_under_35_ft}}%)</td>
                        </tr>
                        <tr>
                            <td>Gol 2ª mitad</td>
                            <td>{{cuota_over_05_mitad2}}€ ({{prob_over_05_mitad2}}%)</td>
                            <td>{{cuota_under_05_mitad2}}€ ({{prob_under_05_mitad2}}%)</td>
                        </tr>            
                </tbody>
            </table>
            
          
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Ambos Equpos Anotarán</th>
                        <th scope="col">Si</th>
                        <th scope="col">No</th>
                    </tr>
                    </thead> 
                    <tbody>
                        <tr>
                            <td>FT</td>
                            <td>{{cuota_aem_ft}}€ ({{prob_aem_ft}}%)</td>
                            <td>{{cuota_aem_ft_no}}€ ({{prob_aem_ft_no}}%)</td>
                        </tr>
                        <tr>
                            <td>1ª mitad</td>
                            <td>{{cuota_aem_ht}}€ ({{prob_aem_ht}}%)</td>
                            <td>{{cuota_aem_ht_no}}€ ({{prob_aem_ht_no}}%)</td>
                        </tr>
                        <tr>
                            <td>2ª mitad</td>
                            <td>{{cuota_aem_ht2}}€ ({{prob_aem_ht2}}%)</td>
                            <td>{{cuota_aem_ht2_no}}€ ({{prob_aem_ht2_no}}%)</td>
                        </tr>
                    
                </tbody>
            </table>

        </div>
        
        
</div>


    

{% endblock %}
