{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{match.home_team}} - {{match.visit_team}}{% endblock %}
{% block content %}

<!-- Content Row -->
<div class="row">
    
    <h1>
        {{title}}{{match.home_team}} - {{match.visit_team}}
    </h1>
    
        <div class='col-12'>
            <p>{{match.league.contry}}</p>
            <p>{{match.league}}</p>
            <p>{{match.soccer_day}}</p>
            <p>{{match.date}}</p>
            <p>{{match.home_team}}</p>
            <p>{{match.visit_team}}</p>

            <p>Gana local -- {{cuota_win_home}}€ ({{prob_win_home}}%)</p>
            <p>Gana visitane -- {{cuota_win_visit}}€ ({{prob_win_visit}}%)</p>
            <p>Empate -- {{cuota_empate}}€ ({{prob_empate}}%)</p>
            <p>Over 0.5 ht -- {{cuota_over_05_ht}}€ ({{prob_over_05_ht}}%)</p>
            <p>Over 1.5 ht -- {{cuota_over_15_ht}}€ ({{prob_over_15_ht}}%)</p>
            <p>Over 0.5 ft -- {{cuota_over_05_ft}}€ ({{prob_over_05_ft}}%)</p>
            <p>Over 1.5 ft -- {{cuota_over_15_ft}}€ ({{prob_over_15_ft}}%)</p>
            <p>Over 2.5 ft -- {{cuota_over_25_ft}}€ ({{prob_over_25_ft}}%)</p>
            <p>Over 3.5 ft -- {{cuota_over_35_ft}}€ ({{prob_over_35_ft}}%)</p>
            <p>Over 0.5 2ª mitad -- {{cuota_over_05_mitad2}}€ ({{prob_over_05_mitad2}}%)</p>
            <p>Ambos Equipo Marcan -- {{cuota_aem_ft}}€ ({{prob_aem_ft}}%)</p>
            <p>Ambos Equipo Marcan 1ª mitad -- {{cuota_aem_ht}}€ ({{prob_aem_ht}}%)</p>
            <p>Ambos Equipo Marcan 1ª mitad -- {{cuota_aem_ht2}}€ ({{prob_aem_ht2}}%)</p>
            
        </div>
        
    
    
</div>
    

{% endblock %}
