{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>

  
<div class="row mt-6 justify-content-center">
  <div class="col-md-6 mx-auto mb-5 text-center shadow-lg p-3 mb-5 bg-body rounded">
    
    {% if 'register' in request.GET %}
      <p style='color:green;'>Usuario registrado correctamente, ya puedes identificarte</<p>
    {% endif %}
    <!--{{form.as_p}} De esta forma se muestra el formulario pero con los estilos propios de django-->
    <form action="" method="post">{% csrf_token %}
      <h3 class="mb-4">Login</h3>
      {% if form.non_field_errors %}
        <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
      {% endif %}
      <img class="img-fluid" src="{% static 'core/img/ball.png' %}" width=40px height=40px>
      <p class="mt-4">
        <input type="text" name="username" autofocus maxlength="254" required
          id="id_username" class="form-control" placeholder="Nombre de usuario"/>
      </p>
      <p>
        <input type="password" name="password" required
          id="id_password" class="form-control" placeholder="Contraseña"/>
      </p>
      <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">He olvidado mi contraseña</a></p>
  </div>
</div>
    
{% endblock %}